doctype html
html
  head
    title File Manager
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/jquery-3.6.4.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    script(src='/javascripts/files.js')
  body
    block content
