doctype html
html
  head
    title Student Management
    meta(charset='utf-8')
    link(rel='icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    block content
